body{
  font-family: 'outfit'; 
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width:100%
 }
h3{
  color:hsl(218, 44%, 22% );
}
div{
  border-radius: 20px;
  background-color: white;
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding:0px;
}
p{
  font-size: 15px;
  color:hsl(220, 15%, 55%);
  padding-bottom: 50px;
}
img{
  padding: 20px;
  width: 250px;
  align-items: center;
  border-radius: 10%;
  height: 250px;
}
 